<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
.vd-list li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
    border-color:#fd5d93;
    font-size: 12px;
    color: #b5a8b9;
}
</style>
</head>
<body class="container" style="background-color: #27293D">
    <div class="row col-md-12">
        <div class=col-md-6>
            <div class=card>
                <div class="card-body">
                <div class="card-title">Surveys Completed <span style="color:green;"><% if(locals.listid){ %> MERGE FOR LIST <%= locals.listid %> COMPLETE <%} %></span></div>
                    <ul class="vd-list">
                    <% list.forEach(function(d) { %>
                    <li>
                        <%= d.list_id %> - <%= d.list_name %>
                        <form action="/merge" method="post">
                        <input type="hidden" name="listid" value="<%- d.list_id %>" >
                        <button class="btn btn-primary btn-sm">Merge</button>
                        </form>
                    </li>
                    <% }); %>
                    </ul>       
                </div>
            </div>
        </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
             <div class="card-title">Import Surveys</div>
            <form action="/import" method="POST" >
                <div class="form-group">
                    <label for=submitdate>Sumbit Date</label>
                    <input name="submitdate" id="submitdate" type="date" value='2019-01-01' class="form-controller">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div style="color:green;"><% if(locals.imports){ %> IMPORTS COMPLETE <%} %></div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>